:root {
  /* colors variables go here as --variable: */
  --swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25%
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

/* HOMEPAGE STYLE  */

.accordion-item {
  border: 1px solid rgba(35, 65, 100, 0.15);
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background: #0b5ed7;
  color: white;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(80%);
}

.accordion-button:focus {
  box-shadow: inherit;
}

/* SWIPER ON HOMEPAGE */

.swiper {
  width: 500px;
  height: 300px;
}

/* TRIP DETAILS PAGE */

.map, #destination-map {
  width: 90%;
  height: 70%;
  position: relative;
  border-radius: 20px;
  margin: 0 auto 0 auto;
}