{% extends 'base.html' %}

{% block title %} Account | Tripaholics{% endblock %}

{% block head %}
{% endblock %}

{% block body %} 

<br>

{% if "user_id" in session %}

<div class="col d-flex justify-content-center">

    <form action="/edit-account" method="POST">

        <h1>Your current info is:</h1>
        <p>Name: {{fname}}</p>
        <p>Email: {{email}}</p>

        <h2>Edit your Account</h2>

        <input type="hidden" name="user_id">

        <div class="row">
            <label for="name">Name:</label>
            <input type="text" name="fname" placeholder="John Doe">
        </div>

        <div class="row pt-2">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="john@gmail.com">
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Save changes</button>

    </form>

</div>
{% endif %}

{% endblock %}