{% extends 'base.html' %}

{% block title %}Trip Details | Tripaholics{% endblock %}


{% block body %}

{% if "user_id" in session %}


<div class="container pt-4">

    <div class="row">
        <h1>Trip Details - {{ trip.destination }}</h1>
        <h2>{{ trip.start_date.strftime("%b %d, %Y") }} - {{ trip.end_date.strftime("%b %d, %Y") }}</h2>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">

            <!-------------------- Plan - Button trigger modal -------------------->
            <button type="button" class="btn btn-outline-primary">Full Plan</button>


            <a href="#link" class="btn btn-primary" role="button">Checklist</a>

            <!-------------------- Add Trip Mate - Button trigger modal -------------------->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inviteFriends">
                Invite tripmates
            </button>
  
            <!-- Modal -->
            <div class="modal fade" id="inviteFriends" tabindex="-1" role="dialog" aria-labelledby="inviteFriendsTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                    <h5 class="modal-title w-100" id="inviteFriendsMainTitle">Add tripmate</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                    </div>

                    <div class="modal-body">
                    Your friends will be able to see and edit the trip.
                    
                        <div class="form-floating mb-3">
                            <input type="email" name="friends-email" class="form-control" id="floatingInput" placeholder="email" required>
                            <label for="floatingInput">Enter your friend's email</label>
                        </div>

                    </div>

                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary w-100">Send invitation</button>
                    </div>
                </div>
                </div>
            </div>

            <!-------------------- Add Reservation - Button trigger modal -------------------->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservations">
                Reservations
            </button>
            
            <!-- Modal - Reservations -->
            <div class="modal fade" id="reservations" tabindex="-1" role="dialog" aria-labelledby="reservationsTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header">
                        <h5 class="modal-title w-100" id="reservationsMainTitle">Enter reservation details</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                        </div>

                        <div class="modal-body">

                                <p>Reservation types include rental cars, hotels, etc.</p>

                                <form action="/add-reservation" method="post">

                                    <input type="hidden" name="trip_id" value="{{trip.trip_id}}">
                                    <input type="hidden" name="destination" value="{{trip.destination}}">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="booking_confirm" placeholder="bookingN" name="confirmation_info" required>
                                                <label for="booking_confirm">Booking Confirmation #</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <select class="form-select" name="reservation_type" required>
                                                    <option value="select-reservation" selected disabled>Reservation Type</option>
                                                    <option value="Rental Car">Rental Car</option>
                                                    <option value="Flight">Flight</option>
                                                    <option value="train">Train</option>
                                                    <option value="Bus">Bus</option>
                                                    <option value="Hotel">Hotel</option>
                                                    <option value="Airbnb">Airbnb</option>
                                                    <option value="Other">Other</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="phone-number" class="form-control" id="floatingInput" placeholder="phone">
                                            <label for="floatingInput">Phone number</label>
                                        </div>
                                    </div> -->
                    

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="date" name="start_date" class="form-control" id="checkin-date" placeholder="checkin">
                                                <label for="checkin-date">Check in date</label>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="date" name="end_date" class="form-control" id="checkout-date" placeholder="checkout">
                                                <label for="checkout-date">Check out date</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3 form-group">
                                                <textarea name="notes" class="form-control" placeholder="Type your notes about this reservation (optional)"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary w-100">Save</button>
                                        </div>
                            
                                </form>

                        </div>
                    </div>
                </div>
            <!-- Reservation ends here -->
            </div> 
        </div>
    </div>
</div>

<!------------------------------- Checklist goes here ------------------------------->

<div class="container">
    <div class="row">
        <h3>Trip Checklist:</h3>

        <form action="/add-task" id="add-task">
            <input type="hidden" name="trip_id" value="{{trip.trip_id}}">
            <input type="text" name="task_title" id="add-new-task-input" placeholder="What do you have on your trip's checklist?" />

            <!-- value needs to be whatever is going to be passed to the db -->
            <button id="add-task-submit" type="submit">
                <i class="bi bi-plus-circle-fill"></i>
            </button>

        </form>
    </div>

    <div class="row">
        <div class="task-container">
            {% for task in task_list %}
            <div class="task-list">{{ task.task_title }}</div>
            {% endfor %}
        </div>
    </div>
    

</div>

<!-------------------------------- Reservation starts here ------------------------------->

{% for reservation in reservations %}
    <ul>
        <li>{{reservation.reservation_type}}</li>
    </ul>
{% endfor %}

<!-- <h2 id="time-left"></h2> -->

{% endif %}


<script src="/static/js/app.js"></script>
{% endblock %}