{% extends 'base.html' %}

{% block title %} Edit Trip | Tripaholics {% endblock %}

{% block body %} 

<br>

<h1>You are editing your trip:</h1>

<div class="container">

<form action="/user-account/edit-trip/{{ trip_id }}" method="POST">
    
    <div class="row">
        <input type="text" name="trip_title" placeholder="Type the reason of your trip">
    </div>

    <br>

    <div class="row">
        <textarea name="description" class="form-control" placeholder="Trip description here"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>


{% endblock %}