{% extends 'base.html' %}

{% block title %} Edit Trip | Tripaholics {% endblock %}

{% block body %} 

<br> 

<a href="/user-account" class="p-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
</a> 

<br>

<div class="container">

    <h1>You are editing your trip:</h1>

    <form action="/user-account/edit-trip/{{ trip_id }}" method="POST">
        
        <div class="row">
            <input type="text" name="trip_title" placeholder="Type the reason of your trip">
        </div>

        <br>

        <div class="row">
            <textarea name="description" class="form-control" placeholder="Trip description here"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>


{% endblock %}