{% extends 'base.html' %}

{% block title %}Home | Tripaholics{% endblock %}

{% block body %}


<div class="container-fluid" width="1440" height="833">

    <!-- First row goes here -->
    <div class="row">
        <div class="col-6">
            <p>Make your Destination</p>
            <h1>Don't listen to what they say. Just go.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsa ipsum voluptatum maiores.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-primary me-md-2" onclick="location.href='/plan-trip'" type="button">Plan a trip</button>
                <button class="btn btn-outline-primary type="button">Watch Demo</button>
              </div>
        </div>
        <div class="col-6">
            Hero image goes here 
            <img src="https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/06/07/Production/Sunday/Travel/Graphics/road%20trip0611.jpg?uuid=kRjsDksdEee8G_3b2DWd7g" class="img-fluid" width="200px" height="200px" alt="">
        </div>

    <!-- Row ends here -->
    </div>
    <!-- Second row goes here -->
    <!-- Block where cards with images will go -->
    
</div>


<!-- FAQ -->
<div class="container">
    <h2>FAQ</h2>
    <div class="accordion accordion-flush" id="FAQ-accordion">

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Question #1</button>
            </h3>
            <div class="" id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#FAQ-accordion">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita numquam eveniet perspiciatis dicta fugit, cumque itaque facere, sunt reiciendis officia dolorum voluptatum omnis quidem quia alias laborum laudantium et!</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Question #2</button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#FAQ-accordion">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem beatae neque ipsam pariatur. Beatae in corrupti libero eligendi ipsum sapiente! Ipsa esse praesentium quaerat cumque harum ad dolore doloribus excepturi.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Question #3</button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#FAQ-accordion">
                <div class="accordion-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cum totam unde maiores, obcaecati repellendus quos ullam! Reprehenderit ipsa debitis, exercitationem quae in quod dolorum cumque commodi, maiores quibusdam consequuntur!</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% block footer %}
<div class="container">
    <footer class="d-flex flew-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none 1h-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Tripaholics. All rights reserved. Raquel Pfeifle.</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        </ul>
    </footer>
</div>{% endblock %}

<!-- Footer: © 2022 Developer Raquel Pfeifle · Privacy · Terms
Back to top on the right side of footer that goes to the top of the page -->

<script src="/static/js/homepage.js"></script>

{% endblock %}

