{% extends 'base.html' %}

{% block title %} {{ fname }}'s Account | Tripaholics{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}


{% block body %}

<br><br>

<a href="/" class="p-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" id="left-arrow-icon">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
</a> 

<a href="/plan-trip" class="btn" id="add-new-trip">Add a new trip</a>

<div class="row p-3">

    <h1>Hello {{ fname }}!</h1>

    <h2>Here are your upcoming trips:</h2>

</div>

<!-- Show map around here  -->
    <div id="map">Maps</div>

<!-- Cards go down here, use jinja template to loop through trips -->
<div class="container" id="trip-cards">
    <h3>Your trips</h3>
    <div class="row g-3">

        {% if trips %}

        {% for trip in trips|sort(attribute="start_date")%}
        
        <div class="col-12 col-md-6 col-lg-4">
            
            <div class="card" id="trip-card-{{ trip.trip_id }}">
                <a href="/details/{{ trip.trip_id }}">
                <img src="{{trip.img}}" class="card-img-top"></a>
                <div class="card-body">
                    <h3 class="card-title fw-bold">{{ trip.trip_title }}</h3>
                    <h5 class="card-title fw-bold" id="destination">{{ trip.destination }}</h5>
                    <p class="card-text">{{ trip.start_date.strftime("%b %d, %Y") }} to {{ trip.end_date.strftime("%b %d, %Y") }}</p>
                    
                    {% if trip.description %}
                    <p class="card-text">{{ trip.description }}</p>
                    
                    {% else %}

                    <p>Please, add a description.</p>
                    {% endif %}
                    

                    <a href="/my-trips/edit-trip/{{ trip.trip_id }}" value="Edit a trip" class="btn btn-outline-primary" id="editTrip-btn">Edit</a>

                    <!-- Ajax call to delete button -->
                    <button type="button" class="btn btn-outline-danger trip-btn" value="{{trip.trip_id}}" id="btn-outline">Delete</button>

                </div>
            </div>
        </div>
        {% endfor %}
        
        {% else %}

        <div class="card">
            <div class="card-body">
                <p class="card-text">You don't have any existent trip. Please create one.</p>
                <a href="/plan-trip" value="Plan a trip" class="btn btn-primary" id="new-trip-ne">Plan a trip</a>
            </div>
        </div>

        {% endif %}
    </div>
</div>

<script src="/static/js/maps.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{YOUR_API_KEY}}&region=US&callback=initMap">
</script>

{% endblock %}