{% extends 'base.html' %}

{% block title %} Plan Trip | Tripaholics {% endblock %}

{% block head %} 

<!-- flatpickr - JS datetime picker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block body %}

<div class="container pt-3">
    <div class="text-center">
        <h2>Plan a new trip</h2>
    </div>
    <div class="row">
        <div class="pt-4">
            <form action="/plan-trip" method="post" class="form-row">

                <div class="form-row">
                    <label for="searchInput">Why are you traveling? <em>(Optional)</em></label>
                    <div class="input-group autocomplete">
                        <input type="text" name="trip_title" class="form-control" id="autocompleteSearchInput" placeholder="eg. My Honeymoon, Work Travel, Vacation">
                    </div>
                </div>

            <!-- Where to? eg. Italy, Thailand, Paris (as a placeholder) > autocomplete
            If no option selected, show a message in red saying "Choose a destination to start planning"-->
                <div class="form-row">
                    <label for="searchInput">Where to?</label>
                    <div class="input-group has-validation autocomplete">
                        <input type="text" name="destination" class="form-control is-invalid" id="autocompleteSearchInput" placeholder="eg. Italy, Thailand, Paris" required>
                        
                        <div class="invalid-feedback">Choose a destination to start planning.</div>
                    </div>
                </div>

                <div class="form-row">
                    <label for="validationTripDates">Dates</label>
            <!-- Dates (Start date, End date as placeholders with a dropdown calendar) -->
                    <div class="input-group">
                        <input type="datetime-local" name="dates" class="form-control" placeholder="Select preferred dates" id="firstDay" required>
                        <i class="icon bi bi-calendar"></i>
                    </div>
                </div>

                <input type="hidden" name="description">

                <br>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Start planning</button>

            <!-- The popup would be:
            "Sign up to save your trip" heading

            Email, password
            Or "Sign up with email" -->


            </form>
        </div>
    </div>
</div>
</div>

<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/static/js/app.js"></script>

<!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initAutocomplete">
</script> -->
{% endblock %}