{% extends 'base.html' %}

{% block title %} Plan Trip | Tripaholics {% endblock %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="text-center">
        <h2>Plan a new trip</h2>
    </div>
    <div class="pt-4">
        <form action="" method="post">
            <!-- Where to? eg. Italy, Thailand, Paris (as a placeholder) > autocomplete
            If no option selected, show a message in red saying "Choose a destination to start planning"-->

            <!-- Dates (Start date, End date as placeholders with a dropdown calendar) -->

            <!-- + Invite tripmates -->

            <!-- "Start planning" button goes here and when they do click, 
                it pop out asking to create an account or login-->

            <!-- The popup would be:
            "Sign up to save your trip" heading

            Email, password
            Or "Sign up with email" -->
        </form>
    </div>
</div>
</div>

{% endblock %}