{% extends 'base.html' %}

{% block title %} Plan Trip | Tripaholics {% endblock %}

{% block head %} 

<!-- flatpickr - JS datetime picker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<link rel="stylesheet" href="/static/css/plan-trip.css">

{% endblock %}

{% block body %}

<div class="container pt-3" id="plan-trip-container">
    <div class="text-center">
        <h2 class="fw-bold">Plan a new trip</h2>
    </div>
    <div class="row">
        <div class="pt-4">
            <form action="/plan-trip" method="post" class="form-row">

                <div class="form-row">
                    <label for="searchInput">Why are you traveling? <em>(Optional)</em></label>
                    <div class="input-group autocomplete">
                        <input type="text" name="trip_title" class="form-control" id="autocompleteSearchInput" placeholder="eg. My Honeymoon, Work Travel, Vacation">
                    </div>
                </div>

                <div class="form-row pt-2">
                    <label for="searchInput">Where to?</label>
                    <div class="input-group">
                        <input type="text" name="destination" class="form-control" id="autocompleteSearchInput" placeholder="eg. Italy, Thailand, Paris" required>
                        
                    </div>
                </div>

                <div class="form-row pt-2">
                    <label for="validationTripDates">Dates</label>

                    <div class="input-group" id="dates-container">
                        <input type="datetime-local" name="dates" class="form-control" placeholder="Select preferred dates" id="firstDay" required>
                        <!-- <i class="icon bi bi-calendar"></i> -->
                    </div>
                </div>

                <input type="hidden" name="description">

                <br>

                <button class="w-100 btn btn-lg btn-primary" id="new-trip-btn" type="submit">Start planning</button>

            </form>
        </div>
    </div>
</div>
</div>

<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="/static/js/app.js"></script>


{% endblock %}