{% extends 'base.html' %}

{% block title %} {{ fname }}'s Account {% endblock %}

{% block body %}
<h1>Welcome {{ fname }}!</h1>

<!-- Upcoming Trips as H2 -->
<h2>Your Upcoming Trips:</h2>


<!-- Show map around here  -->



<!-- "Your trips" div goes here with a button "+ Plan new trip"

If user's didn't create any trip yet, show the following message:
"You haven't created anything yet. Plan a new trip." > Plan a new trip as a "a href"
and it will go to the "/plan-trip" to create a trip
Otherwise, show trips below




<!-- Explore goes here
Popular Destinations

Use cards/carousel with destinations from database -->

{% endblock %}