{% extends 'base.html' %}

{% block title %} {{ fname }}'s Account | Tripaholics{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}


{% block body %}

<div class="row p-3">

    <h1>Hello {{ fname }}!</h1>

    <h2>Here are your upcoming trips:</h2>

</div>

<!-- Show map around here  -->
    <!-- <div class="map"> -->
        <div id="map">Maps</div>
    <!-- </div> -->

<!-- "Your trips" div goes here with a button "+ Plan new trip"
If user's didn't create any trip yet, show the following message:
"You haven't created anything yet. Plan a new trip." > Plan a new trip as a "a href"
and it will go to the "/plan-trip" to create a trip
Otherwise, show trips below -->

<!-- Cards go down here, use jinja template to loop through trips -->
<div class="container">
    <h3>Your trips</h3>
    <div class="row g-3">
        {% for trip in trips %}
        
        <div class="col-12 col-md-6 col-lg-4">

            <div class="card">
                <!-- <img src="" alt="" class="card-img-top"> -->
                <a href="/details/{{ trip.trip_id }}" class="card-img-top btn btn-primary">See trip detail</a>
                <div class="card-body">
                    <h5 class="card-title">{{ trip.destination }}</h5>
                    <p class="card-text">{{ trip.start_date.strftime("%b %d, %Y") }} to {{ trip.end_date.strftime("%b %d, %Y") }}</p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque quod quos aspernatur esse architecto doloremque iusto excepturi! A, eligendi quo? Fugit architecto nihil rem nam repudiandae molestiae sed vel quod.</p>
                    <a href="/delete/{{ trip.trip_id }}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>

        {% else %}
        <p>You still didn't create any trip.</p>

        {% endfor %}

    </div>
</div>

<!-- Explore goes here
Popular Destinations

Use cards/carousel with destinations from database --> 



<script src="/static/js/maps.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{YOUR_API_KEY}}&region=US&callback=initMap">
</script>

{% endblock %}